body {
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}
.unconverted,
.converted {
  background-color: rgba(180, 179, 179, 0.639);
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.5rem;
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
}

.converted {
  background-color: rgba(250, 198, 206, 0.753);
}
.selec-drp-dwn {
  border-radius: 0.5rem;
  border: none;
}

.user-input {
  border-radius: 0.6rem;
  border: none;
  outline: none;
  margin: 0.6rem;
  margin-top: 1rem;
}
.real-time-rate {
  text-align: center;
  background-color: rgba(212, 103, 103, 0.822);
  width: 50%;
  margin-left: 25%;
  border-radius: 0.4rem;
}

/* https://www.countryflags.com/ */
/* .selec-drp-dwn option[value="USD"] {
  background-image: url("./img/USFlag.png");
}

.selec-drp-dwn option[value="GBP"] {
  background-image: url("./img/UKFlag.png");
}

.selec-drp-dwn option[value="CAD"] {
  background-image: url("./img/CADFlag.png");
} */
